* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--white);
  z-index: 1200;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

section.profile1 {
  position: relative;
  width: 100%;
  height: 500px;
  background: var(--gd-bg);
}

section.about-me {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin-top: 30px;
  background: var(--bg);
  display: flex;
  justify-content: center;
}

.container-sec {
  max-width: 1200px;
  width: calc(100vw - 50px);
  padding: 20px;
  display: inline;
}

.about-me h2 {
  position: relative;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  font-size: 3em;
}

.container-card {
  width: 500px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.card {
  overflow: hidden;
  display: block;
  width: 400px;
  height: 495px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.svg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 225px;
  width: 100%;
}
#Svg {
  z-index: 1;
}
.bg-skills1 {
  position: absolute;
  width: 900px;
  height: 225px;
  background: linear-gradient(43deg, rgb(140, 228, 209) 0%, rgb(106, 100, 228) 100%);
  transition: 1s ease-in-out;
  animation: bg 4s ease-in-out infinite alternate;
}
.bg-skills2 {
  position: absolute;
  width: 900px;
  height: 225px;
  background: linear-gradient(45deg, rgb(190, 224, 117) 0%, rgb(64, 171, 201) 100%);
  transition: 1s ease-in-out;
  animation: bg 4s ease-in-out infinite alternate;
}

.svg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 225px;
  width: 100%;
}
.svg1 h3, .svg2 h3{
  padding-top: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Anek Latin", sans-serif;
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  transition: 0.5s ease-in-out;
  width: 0px;
}

#navbar.active {
  width: 680px;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

#navbar ul li {
  list-style: none;
  padding: 0 5px;
}

#navbar span {
  margin-top: 10px;
}

#navbar ul li a {
  color: var(--black);
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 30px;
}

#navbar ul li a:hover {
  color: var(--white);
  background: var(--black);
}

.content {
  padding-top: 60px;
  background: var(--bg);
}

.logo {
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Lobster", cursive;
  background: var(--logo);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--toggle);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background: #ffffff;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 3px;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background: #ffffff;
  transform: translateY(5px);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 3px;
}

#toggle.active {
  background: #453c78;
  transform: rotate(180deg);
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: var(--wave);
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.6;
  background-position-x: 100px;
}

.text {
  margin-top: 30px;
  height: 1000px;
  padding: 20px;
  font-family: kanit;
}
@media (max-width: 1200px) {
.pic-animo, .pic-eye {
  transform: scale(0.8);
}
}
@media (max-width: 991px) {
  #navbar {
    background: var(--white);
    height: calc(100vh - 60px);
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar.active {
    height: calc(100vh - 60);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbar span {
    margin-left: -20px;
    margin-top: 0px;
  }

  #profile.profile {
    flex-direction: column;
    gap: 20px;
  }

  #profile.profile img {
    width: calc(100% - 100px);
    max-width: 300px;
    margin-top: 50px;
    height: auto;
    border-radius: 20px;
    align-self: center;
  }

  #profile.profile h2 {
    font-size: clamp(20px, 7vw, 35px);
  }

  #profile-sub {
    margin-bottom: 120px;
  }

  #profile-sub h3 {
    font-size: clamp(18px, 4vw, 25px);
  }

  section.profile1 {
    height: auto;
    background: var(--gd-bg1);
  }
  .container-card {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: calc(90vw - 20px);
  }
  .draw-skills {
    align-items: center;
  }
  .head-svg{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    transform: scale(0.8);
  }
  .container-sec {
    padding: 0px !important;
  }
  .education-bg {
    width: 100%;
    height: 670px !important;
  }
  .cmu-logo {
    width: 250px !important;
    height: 250px !important;
  }
  .Education-wrap {
    display: flex;
    justify-content: center;
  }
  .Education-text {
    display: inline;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    align-self: center;
    justify-content: center;
  }
  .Education {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    height: 500px !important;
    padding: 10px !important;
    max-width: 600px;
  }
  .Education h2{
    font-size: clamp(20px, 4vw, 30px) !important;
  }
  .Education h3{
    font-size: clamp(17px, 3vw, 22px) !important;
  }
  .Education a, li{
    font-size: clamp(16px, 2vw, 20px) !important;
  }
  .content-exp#exp1, .content-exp#exp3 {
    flex-direction: column-reverse !important;
    height: 750px !important;
    padding: 20px !important;
    font-size: clamp(20px, 4vw, 30px) !important;
    gap: 0px;
  }
  .content-exp#exp2{
    justify-content: flex-start !important;
    flex-direction: column !important;
    height: 650px !important;
    padding: 20px !important;
  }
  .content-exp h2{
    font-size: clamp(20px, 4vw, 30px) !important;
  }
  .content-exp h3{
    font-size: clamp(17px, 3vw, 22px) !important;
  }
  .content-exp a, li{
    font-size: clamp(16px, 2vw, 20px) !important;
  }
  .wrap-text {
    max-width: calc(100vw - 30px);
  }
  .pic-eye {
    transform: scale(0.8) translateY(-50px);
    height: 200px !important;
    justify-content: flex-start !important;
  }
  .pic-eye #eye1{
    transform: translate(0,0) !important;
  } 
  .pic-eye #eye2{
    transform: translate(200px,200px) !important;
  } 
  .pic-eye:hover #eye1{
    transform: translate(250px,150px) !important;
    width: 200px !important;
  } 
  .pic-eye:hover #eye2{
    transform: translate(50px,100px) !important;
    width: 250px !important;
  } 
  .pic-animo {
    transform: scale(0.6) translateY(-50px);
    height: 0px;
  }
  .wrap-pic {
    transform: scale(0.8);
    height: 350px !important;
  }
  .contact {
    gap: 10px;
    align-items: center !important;
    flex-direction: column !important;
  }
  .contact-top {
    height: auto !important;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  height: calc(100% - 80px);
}

.profile img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  align-self: center;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

.profile h2 {
  font-size: 50px;
  color: var(--h2);
  font-family: "Source Code Pro", monospace;
  position: relative;
  line-height: 58px;
  width: max-content;
}

.profile h2::after,
.profile h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.profile h2::before {
  background: var(--profile-bg);
  animation: typewriter var(--typeSpeed) steps(var(--typeNum)) 0.5s forwards;
}

.profile h2::after {
  background: var(--h2);
  width: 3px;
  border-radius: 10px;
  animation: typewriter var(--typeSpeed) steps(var(--typeNum)) 0.5s forwards,
    blink 4s forwards;
}

.profile h3 {
  font-size: 25px;
  font-weight: 400;
  color: var(--h2);
  font-family: "Anek Latin", sans-serif;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 3.5s;
  transform: translateX(50px);
  opacity: 0;
}

.themeSwitch {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--black);
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fontAwesome;
  font-size: 20px;
  color: var(--white);
}

.themeSwitch::before {
  content: "\f186";
}

.themeSwitch.active1::before {
  content: "\f185";
}

.profile-text h2,
#profile-sub h3 {
  background: var(--profileText);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fade-in {
  opacity: 0;
  transition: 1.2s;
}

.fade-in.appear {
  animation: fadeIn1 0.8s cubic-bezier(.63,.74,.66,.72) forwards;
  opacity: 1;
}

.fade-in1 {
  opacity: 0;
  transition: 1.2s ease-in 0.2s;
}

.fade-in1.appear {
  animation: fadeIn1 0.8s cubic-bezier(.63,.74,.66,.72) forwards 0.2s;
  opacity: 1;
}

.fade-left {
  opacity: 0;
  transition: 1.2s;
}

.fade-left.appear {
  animation: fadeL 0.8s cubic-bezier(.63,.74,.66,.72) forwards;
  opacity: 1;
}

.fade-up {
  opacity: 0;
  transition: 1.2s;
}

.fade-up.appear {
  animation: fadeUp 0.8s cubic-bezier(.63,.74,.66,.72) forwards;
  opacity: 1;
}

.draw-svg {
  opacity: 0;
  transition: 0.1s forwards;
}

.draw-svg.appear {
  opacity: 1;
  stroke-dasharray: 563;
  stroke-dashoffset: 563;
  animation: line-draw 3s ease forwards 0.5s;
}

.draw-svg.appear circle {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: line-draw 2s ease forwards 1s;
}

.draw-svg.appear line {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 3s ease forwards 0.5s;
}
.draw-skills {
  filter: var(--filter);
  opacity: 0;
  transition: 0.1s forwards;
}
.draw-skills.appear {
  opacity: 1;
}
.draw-skills.appear :nth-child(2) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards;
}
.draw-skills.appear :nth-child(3) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: line-draw 1.6s ease forwards 0.1s;
}
.draw-skills.appear :nth-child(4) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: line-draw 1.6s ease forwards 0.2s;
}
.draw-skills.appear :nth-child(5) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.3s;
}
.draw-skills.appear :nth-child(6) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.4s;
}
.draw-skills.appear :nth-child(7) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.5s;
}
.draw-skills.appear :nth-child(8) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.6s;
}
.draw-skills.appear :nth-child(9) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.7s;
}
.draw-skills.appear :nth-child(10) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.8s;
}
.draw-skills.appear :nth-child(11) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: line-draw 1.6s ease forwards 0.9s;
}

.Skills {
  color: #2c3e50;
  padding: 20px;
  font-size: 1.2rem;
  list-style: circle;
}

.education-bg {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  background: #d2d8f8;
  display: flex;
  justify-content: center;
  background: url("../cmu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 570px;
  overflow: hidden;
}

.cmu-logo {
  width: 300px;
  height: 300px;
  z-index: 1000;
}

.Education {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: var(--edu);
  border: 2px solid rgba(255, 255, 255, 0.1);
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: var(--educolor);
  /* background: rgba(255, 255, 255, 0.5); */
}
.Education h2{
  font-size: 2.2rem;
}
.Education a {
  font-size: 1rem;
}
.Education h3 {
  font-weight: 500;
  font-size: 1.5rem;
  list-style: circle;
}
.Education li {
  padding-left: 15px;
  font-size: 1.2rem;
  list-style: circle;
}
.cricle3 {
  position: absolute;
  z-index: 0;
  content: "";
  width: 700px;
  height: 500px;
  background: #64c5ef;
  filter: blur(80px);
  opacity: 0.3;
  border-radius: 50%;
  top: 50px;
  left: -150px;
  animation: move2 5s ease infinite alternate;
}
.cricle1 {
  position: absolute;
  z-index: 0;
  content: "";
  width: 700px;
  height: 500px;
  background: #8260e0;
  filter: blur(80px);
  opacity: 0.3;
  border-radius: 50%;
  top: 50px;
  left: -150px;
  animation: move1 5s ease infinite alternate;
}
.cricle2 {
  position: absolute;
  z-index: 0;
  content: "";
  width: 500px;
  height: 500px;
  background: #256fdd;
  filter: blur(80px);
  opacity: 0.4;
  border-radius: 50%;
  top: -50px;
  right: -150px;
  animation: move2 5s ease infinite alternate;
}
.exp {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin-top: 30px;
  background: var(--bg);
  display: flex;
  justify-content: center;
}
.exp1 {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--bg);
}
.exp2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--bg2);
  overflow: hidden;
}
.exp3 {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: var(--bg);
  display: flex;
  justify-content: center;
}
.wrap-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  width: 450px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.wrap-pic img{
  width: 270px;
  height: 270px;
  transition: 0.6s ease-in-out;
}
.wrap-pic img:hover{
  transform: scale(1.3);
}
.content-exp {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px
}
.pic-eye #eye1{
  z-index: 2;
  width: 500px;
  position: absolute;
  transform: translate(0%,15%);
  transition: 0.6s ease-in-out;
}
.pic-eye:hover #eye1{
  transform: translate(70%,30%);
  width: 320px;
}
.pic-eye #eye2{
  z-index: 1;
  width: 0px;
  position: absolute;
  transform: translate(150px,150px);
  transition: 0.6s ease-in-out;
}
.pic-eye:hover #eye2{
  transform: translate(-20%,0%);
  width: 444px;
}
.pic-eye{
  width: 500px;
  height: 340px;
}
.pic-eye:hover{
  flex-direction: row;
}
.pic-animo{
  width: 450px;
  height: 340px;
}
.pic-animo #animo1 {
  position: absolute;
  transform: translate(300px,150px);
  width: 0px;
  transition: 0.6s ease-in-out 0.4s;
}
.pic-animo:hover #animo1 {
  transform: translate(-40px,10px);
  width: 180px;
}

.pic-animo #animo2 {
  position: absolute;
  transform: translate(350px,150px);
  width: 0px;
  transition: 0.6s ease-in-out 0.2s;
}
.pic-animo:hover #animo2 {
  transform: translate(130px,10px);
  width: 180px;
}
.pic-animo #animo3 {
  position: absolute;
  transform: translate(0%,0%);
  width: 450px;
  transition: 0.6s ease-in-out;
}
.pic-animo:hover #animo3 {
  transform: translate(300px,10px);
  width: 180px;
}
#exp1 h2,#exp1 h3,#exp1 li{
  color: var(--h21) !important;
}
#exp2 h2,#exp2 h3,#exp2 li{
  color: var(--h21) !important;
}
#exp3 h2,#exp3 h3,#exp3 li{
  color: var(--h21) !important;
}
#contact-text {
  color: var(--h21);
}
#get-detail {
  color: var(--h2) !important;
}
.wrap-text {
  width: 580px;
  color: #2c3e50;
}
.wrap-text h2{
}
.wrap-text h3{
  font-weight: 500;
}
.wrap-text li{
  padding-left: 15px;
  list-style: circle;
}

.buttons1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 200px;
  z-index: 2;
}
.btn-z {
  text-decoration: none;
  padding: 6px 20px;
  font-size: 1.15rem;
  position: relative;
}
.btn-x {
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 0 0 rgba(64, 248, 227, 0.4), 0 0 0 0 rgba(18, 205, 208, 0.4);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.btn-x::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg,#3bc48d 0%, #69c8e2 50%, #713fcd 100%);
  z-index: -1;
  transition: transform 0.8s ease;
}
.btn-x:hover {
  color: #ffffff;
  transform: translate(0, -5px);
  box-shadow: 5px -5px 20px 0 rgba(122, 64, 248, 0.4), -5px 5px 20px 0 rgba(39, 154, 255, 0.4);
}
.btn-x:hover::after {
  transform: rotate(150deg);
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.contact-top {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-content {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.contact-content#content1 {
  background: linear-gradient(45deg, rgba(31,67,121,1) 0%, rgba(31,95,121,1) 100%);
}
.contact-content#content2 {
  background: linear-gradient(45deg, rgba(22,95,117,1) 0%, rgba(25,139,132,1) 100%);
}
.contact-content#content3 {
  background: linear-gradient(45deg, rgba(20,112,112,1) 0%, rgba(28,159,125,1) 100%);
}
.contact-content#content4 {
  background: linear-gradient(45deg, rgba(36,119,76,1) 0%, rgba(54,157,100,1) 100%);
}
.contact-content #text{
  opacity: 0;
  height: 0;
  color: #c8d4df;
  transform: translateY(100px);
  transition: 0.5s ease-in-out;
}
.contact-content #text h2{
  color: #ffffff;
}
.contact-content #text h3{
  color: #c8d4df;
}
.contact-content:hover #text {
  opacity: 1;
  height: 200px;
  transform: translateY(-50px);
  align-items: center;
}
.contact-content #pic {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
.contact-content:hover #pic {
  transform: scale(0.4);
  transition: 0.6s ease-in-out;
}
.contact-content:hover {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
.contact-text#text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-svg#contact {
  padding: 30px 0px ;
}
.wrap-input-card {
  display: flex;
  justify-content: center;
  height:  calc(auto + 10px);;
}
.input-card {
  padding: 20px 0px;
  height: auto;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  background: #c8d4df;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(158, 211, 244, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.6s ease-in-out;
}
.input-card:hover {
  border: 2px solid rgb(158, 211, 244);
  box-shadow: 0px 2px 15px 2px rgba(158, 211, 244, 1);
}
.head-input {
  padding: 20px 0px;
  justify-content: center;
  display: flex;
  color: #2c3e50;
}
.input {
  padding-top: 30px;
  max-width: calc(100% - 30px);
}
.vs-input {
  justify-content: center;
  position: relative;
  border-radius: 10px !important;
  width: 500px !important;
  max-width: 500px;
  min-width: 0px;
}
.vs-input__label--label {
  color: #2c3e50;
  font-size: 1rem !important;
  transform: translate(-20px, -77%) !important;
}
.Area {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.Area span{
  justify-self: start;
  display: inline;
  margin-top: -22px;
  transform: translateX(-5px);
  width: 0px;
  color: #2c3e50;
  font-size: 1rem;
}
.TArea {
  max-width: calc(100% - 30px);
  width: 500px;
  background: rgb(244, 247, 248);
  padding: 7px 12px 7px 12px;
  height: 93px;
  border-radius: 10px;
  border: none;
  color: #696969;
  resize: none;
  transition: 0.3s all;
}
.TArea:focus-visible {
  outline: none;
  padding-left: 17px;
  background: #f0f3f4;
}
.TArea::placeholder {
  color: rgba(44, 62, 80, 0.45);
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
  transition: 0.3s all;
}
.TArea:focus::placeholder {
  opacity: 0;
}
.btn {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn #send {
  width: 150px;
}
.footer {
  margin-top: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #ffffff;
}
button[type="submit"] {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 150px;
  z-index: 1;
  border: none;
  justify-content: center;
  align-items: center;
}
form #form {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.field {
  height: 0px;
  visibility: hidden;
}
.get {
  position: relative;
  width: 100%;
  margin-top: 30px;
  background: var(--bg);
  display: flex;
  justify-content: center;
}